.node {
  width: 25px;
  height: 25px;
  outline: 1px solid #181717;
  background-color: rgb(255, 255, 255, 0.4);
  display: inline-block;
}

.node-finish {
  background-color: rgb(255, 65, 65);
}

.node-start {
  background-color: rgb(91, 255, 146);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    /* transform: scale(0.2); */
    background-color: rgba(214, 214, 214, 0.75);
    /* border-radius: 50%; */
  }
  25% {
    /* transform: scale(0.4); */
    background-color: rgba(196, 196, 196, 0.75);
    /* border-radius: 35%; */
  }
  50% {
    /* transform: scale(0.6); */
    background-color: rgba(185, 185, 185, 0.75);
    /* border-radius: 25%; */
  }

  75% {
    /* transform: scale(0.8); */
    background-color: rgba(173, 173, 173, 0.75);
    /* border-radius: 10%; */
  }

  100% {
    /* transform: scale(1); */
    background-color: rgb(255, 255, 255, 0.4);
    /* border-radius: 0%; */
  }
}

.node-wall {
  background-color: #181717;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
